header{
    background-image: url("images/hero-2-bg.4f136e2cb3334913d0ce.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}



.phone{
    width: 600px;
}